body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100dvh;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    isolation: isolate;
    touch-action: none;
}

.counter {

    .value {

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "M PLUS 1 Code", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 50vmin;

        color: rgb(230, 220, 200);
        mix-blend-mode: difference;

    }

    count-effect {

        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -10;

        mix-blend-mode: screen;
        
        canvas {
            
            width: 100%;
            height: 100%;

            filter: blur(15px);

        }
    }

    .background {

        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -100;

        background-color: #141617;
        
    }

}